<section class="page-banner" style="background-image: url('../../../assets/images/female-doctors-wide.png');">
    <div class="overlay"></div>
    <div class="container">
        <ul>
            <li><a routerLink="">Home</a></li>/ <li><a routerLink="/blog">News</a></li>
        </ul>
        <h1>Blog Posts</h1>
    </div>
</section>

<section class="medical-intro services-sp">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-lg-8">
                <div class="blog-posts">
                    <div class="post">
                        <img src="../../../assets/images/blog-post-1.png" alt="">
                        <div class="post-overview">
                            <p class="post-metadata">
                                <span><i class="fa fa-calendar"></i> Monday 17 June, 2024</span>
                                <span><i class="fa fa-user"></i> By Author</span>
                                <span><i class="fa fa-eye"></i> 65</span>
                                <span><i class="fa-regular fa-heart"></i> 68</span>
                            </p>
                            <h2><a routerLink="/post-details">A passion for putting patients first</a></h2>
                            <p class="short-description">
                                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                                laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
                                architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas
                                sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione
                                voluptatem sequi nesciunt. 
                            </p>
                        </div>
                        <a routerLink="/post-details" class="regular-btn">Read More <i class="fa fa-arrow-right"></i></a>
                    </div>
                    <div class="post">
                        <img src="../../../assets/images/blog-post-2.png" alt="">
                        <div class="post-overview">
                            <p class="metadata">
                                <span><i class="fa fa-calendar"></i> Monday 17 June, 2024</span>
                                <span><i class="fa fa-user"></i> By Author</span>
                                <span><i class="fa fa-eye"></i> 65</span>
                                <span><i class="fa-regular fa-heart"></i> 68</span>
                            </p>
                            <h2><a routerLink="/post-details">A passion for putting patients first</a></h2>
                            <p class="short-description">
                                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                                laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
                                architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas
                                sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione
                                voluptatem sequi nesciunt. 
                            </p>
                        </div>
                        <a routerLink="/post-details" class="regular-btn">Read More <i class="fa fa-arrow-right"></i></a>
                    </div>
                    <div class="post">
                        <img src="../../../assets/images/blog-post-3.png" alt="">
                        <div class="post-overview">
                            <p class="metadata">
                                <span><i class="fa fa-calendar"></i> Monday 17 June, 2024</span>
                                <span><i class="fa fa-user"></i> By Author</span>
                                <span><i class="fa fa-eye"></i> 65</span>
                                <span><i class="fa-regular fa-heart"></i> 68</span>
                            </p>
                            <h2><a routerLink="/post-details">A passion for putting patients first</a></h2>
                            <p class="short-description">
                                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                                laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
                                architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas
                                sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione
                                voluptatem sequi nesciunt. 
                            </p>
                        </div>
                        <a routerLink="/post-details" class="regular-btn">Read More <i class="fa fa-arrow-right"></i></a>
                    </div>
                    <div class="post">
                        <img src="../../../assets/images/blog-post-4.png" alt="">
                        <div class="post-overview">
                            <p class="metadata">
                                <span><i class="fa fa-calendar"></i> Monday 17 June, 2024</span>
                                <span><i class="fa fa-user"></i> By Author</span>
                                <span><i class="fa fa-eye"></i> 65</span>
                                <span><i class="fa-regular fa-heart"></i> 68</span>
                            </p>
                            <h2><a routerLink="/post-details">A passion for putting patients first</a></h2>
                            <p class="short-description">
                                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                                laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
                                architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas
                                sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione
                                voluptatem sequi nesciunt. 
                            </p>
                        </div>
                        <a routerLink="/post-details" class="regular-btn">Read More <i class="fa fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4">
               <recent-post></recent-post>
                
               <blog-categories></blog-categories>
            </div>
        </div>
    </div>
</section>

<contact-overview></contact-overview>