<section class="page-banner" style="background-image: url('../../../assets/images/doctor-banner.png');">
    <div class="overlay"></div>
    <div class="container">
        <ul>
            <li><a routerLink="">Home</a></li>/ <li><a routerLink="/contact">Contacts</a></li>
        </ul>
        <h1>Our Contacts</h1>
    </div>
</section>

<section class="maps medical-intro services-sp">
    <div class="container">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d63037.343405412656!2d7.446202854464096!3d9.078886250195973!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x104e0a50b73e1be1%3A0x7ed3ba71b9b043c3!2sWuse%2C%20Federal%20Capital%20Territory!5e0!3m2!1sen!2sng!4v1718630733447!5m2!1sen!2sng" width="1140" height="500" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</section>

<section class="medical-intro services-sp">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-6 lc">
                <div class="contact-info">
                    <h2>get in touch</h2>
                    <h3>Contact</h3>
                </div>
                <div class="booking-container">
                    <form action="">
                        <div class="row">
                            <div class="col-md-6 l-input">
                                <input type="text" placeholder="Name">
                            </div>
                            <div class="col-md-6 r-input">
                                <input type="email" placeholder="Email">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 r-input">
                                <input type="subject" placeholder="Subject">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <textarea placeholder="Message" rows="8"></textarea>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 submit">
                                <button class="">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6">
                <div class="row">
                    <div class="row contact-means">
                        <div class="col-md-6">
                            <div class="contact-item">
                                <img src="../assets/icons/phone-ringing-blue.svg" alt="phone-ringing">
                                <p class="emerge">eMERGENCY</p>
                                <p class="ord" tel="+234 810 456 7890">(+234) 810 456 7890</p>
                                <p class="ord" tel="+234 810 456 7890">(+234) 810 456 7890</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="contact-item active">
                                <img src="../assets/icons/location-pointer-light.svg" alt="location-pointer">
                                <p class="emerge">location</p>
                                <p class="ord">0123 Find Tavershima</p>
                                <p class="ord">123 Internet street</p>
                            </div>
                        </div>
                        <div class="col-md-6 mt">
                            <div class="contact-item">
                                <img src="../assets/icons/email-blue.svg" alt="email">
                                <p class="emerge">email</p>
                                <p class="ord">email@abc.com</p>
                                <p class="ord">email@abc.com</p>
                            </div>
                        </div>
                        <div class="col-md-6 mt">
                            <div class="contact-item">
                                <img src="../assets/icons/work-clock-blue.svg" alt="work-clock">
                                <p class="emerge">working hours</p>
                                <p class="ord">Mon-Sat 09:00 - 20:00</p>
                                <p class="ord">Sunday Emergency Only</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
        </div>
    </div>
</section>

<news-overview></news-overview>