<section class="medical-intro nss">
    <div class="container">
        <div class="medics-info">
            <h2>better information better health</h2>
            <h3>News</h3>
        </div>
        <div class="row news-items">
            <div class="col-md-6">
                <div class="news-item">
                    <div>
                        <img src="../assets/images/news-thumb-1.png" alt="/news-thumb">
                    </div>
                    <div class="news-overview">
                        <p class="date">Monday 17, June 2024 | By Author</p>
                        <p class="title">This article title goes here but not too long</p>
                        <p>
                            <span><i class="fa fa-eye"></i>68</span>
                            <span><i class="fa-regular fa-heart"></i>86</span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="news-item">
                    <div>
                        <img src="../assets/images/news-thumb-1.png" alt="/news-thumb">
                    </div>
                    <div class="news-overview">
                        <p class="date">Monday 17, June 2024 | By Author</p>
                        <p class="title">This article title goes here but not too long</p>
                        <p>
                            <span><i class="fa fa-eye"></i>68</span>
                            <span><i class="fa-regular fa-heart"></i>86</span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="news-item">
                    <div>
                        <img src="../assets/images/news-thumb-1.png" alt="/news-thumb">
                    </div>
                    <div class="news-overview">
                        <p class="date">Monday 17, June 2024 | By Author</p>
                        <p class="title">This article title goes here but not too long</p>
                        <p>
                            <span><i class="fa fa-eye"></i>68</span>
                            <span><i class="fa-regular fa-heart"></i>86</span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="news-item">
                    <div>
                        <img src="../assets/images/news-thumb-1.png" alt="/news-thumb">
                    </div>
                    <div class="news-overview">
                        <p class="date">Monday 17, June 2024 | By Author</p>
                        <p class="title">This article title goes here but not too long</p>
                        <p>
                            <span><i class="fa fa-eye"></i>68</span>
                            <span><i class="fa-regular fa-heart"></i>86</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
