<section class="medical-intro">
    <div class="container">
        <div class="medics-info">
            <h2>get in touch</h2>
            <h3>contact</h3>
        </div>
        <div class="row contact-means">
            <div class="col-md-3 mt">
                <div class="contact-item">
                    <img src="../assets/icons/phone-ringing-blue.svg" alt="phone-ringing">
                    <p class="emerge">eMERGENCY</p>
                    <p class="ord" tel="+234 810 456 7890">(+234) 810 456 7890</p>
                    <p class="ord" tel="+234 810 456 7890">(+234) 810 456 7890</p>
                </div>
            </div>
            <div class="col-md-3 mt">
                <div class="contact-item active">
                    <img src="../assets/icons/location-pointer-light.svg" alt="location-pointer">
                    <p class="emerge">location</p>
                    <p class="ord">0123 Find Tavershima</p>
                    <p class="ord">123 Internet street</p>
                </div>
            </div>
            <div class="col-md-3 mt">
                <div class="contact-item">
                    <img src="../assets/icons/email-blue.svg" alt="email">
                    <p class="emerge">email</p>
                    <p class="ord">email@abc.com</p>
                    <p class="ord">email@abc.com</p>
                </div>
            </div>
            <div class="col-md-3 mt">
                <div class="contact-item">
                    <img src="../assets/icons/work-clock-blue.svg" alt="work-clock">
                    <p class="emerge">working hours</p>
                    <p class="ord">Mon-Sat 09:00 - 20:00</p>
                    <p class="ord">Sunday Emergency Only</p>
                </div>
            </div>
        </div>
    </div>
</section>