<section class="page-banner" style="background-image: url('../../assets/images/Blackdoctors.png');">
    <div class="container">
        <ul>
            <li><a routerLink="/">Home</a></li>/ <li><a routerLink="/our-doctors">Our Doctors</a></li>
        </ul>
        <h1>Our Doctors</h1>
    </div>
    <div class="overlay"></div>
</section>

<section class="">
    <div class="doctor-profiles">
        <div class="container">
             <doctor-profile></doctor-profile>
             <doctor-profile></doctor-profile>
             <doctor-profile></doctor-profile>
             <doctor-profile></doctor-profile>
             <doctor-profile></doctor-profile>
             <doctor-profile></doctor-profile>
        </div>
     </div>
</section>

<testimonials></testimonials>

<news-overview></news-overview>

<contact-overview></contact-overview>