<section class="page-banner" style="background-image: url('../../assets/images/Blackdoctors.png');">
    <div class="container">
        <ul>
            <li><a routerLink="">Home</a></li>/ <li><a routerLink="/about">About</a></li>
        </ul>
        <h1>About Us</h1>
    </div>
    <div class="overlay"></div>
</section>

<section class="cares-intro">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <img src="../../assets/images/care-nurses.png" alt="">
            </div>
            <div class="col-md-8">
                <h2>Welcome to hospital name</h2>
                <h3>Best care for your good health</h3>
                <div class="pass-container">
                    <ul class="passions">
                        <li><span>&#x2022;</span>A passion for heaing</li>
                        <li><span>&#x2022;</span>All our best</li>
                        <li><span>&#x2022;</span>A legacy of excellence</li>
                    </ul>
                    <ul class="passions">
                        <li><span>&#x2022;</span>A passion for heaing</li>
                        <li><span>&#x2022;</span>All our best</li>
                        <li><span>&#x2022;</span>A legacy of excellence</li>
                    </ul>
                </div>
                <p>
                    But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was
                    born and I will give you a complete account of the system, and expound the actual teachings of the
                    great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or
                    avoids pleasure itself, because it is pleasure, At vero eos et accusamus et iusto odio dignissimos
                    ducimus qui blanditiis praesentium
                </p>
                <p>
                    pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone who
                    loves or pursues or desires to obtain pain of "de Finibus Bonorum et Malorum", written by Cicero in
                    45 BC
                </p>
            </div>

        </div>
    </div>
</section>

<testimonials></testimonials>

<care-doctors></care-doctors>

<news-overview></news-overview>

<contact-overview></contact-overview>