<section class="testimonials" style="background-image: url('../../assets/images/back-stethoscope.png');">
    <div class="container">
        <div class="testimonial">
            <p class="quote">"</p>
            <p class="testimony">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
                ea commodo consequat. Duis aute irure dolor 
            </p>
            <span class="hr-sm"></span>
            <p class="testifier">Tavershima Ako</p>
        </div>
    </div>
    <div class="overlay"></div>
</section>