<section class="page-banner" style="background-image: url('../../assets/images/checking-no-smile.png');">
    <div class="overlay"></div>
    <div class="container">
        <ul>
            <li><a routerLink="">Home</a></li>/ <li><a routerLink="/services">Services</a></li>
        </ul>
        <h1>Services</h1>
    </div>
</section>

<section class="medical-intro services-sp">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-3">
                <div class="service-item">
                    <div class="image"> 
                        <div class="overlay">
                            <img src="../../../assets/icons/checkup-light.svg" alt="checkup-light">
                        </div>
                        <div class="service-icon">
                            <img src="../../../assets/icons/checkup-light.svg" alt="checkup-light">
                        </div>
                        <img src="../../../assets/images/service-item.png" alt="service-item">
                        
                    </div>
                    <div class="content">
                        <p class="title">Free Checkup</p>
                        <p class="short">
                            At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
                            voluptatum deleniti atque corrupti quos
                        </p>
                        <a routerLink="#">Learn More <i class="fa fa-arrow-right"></i></a>
                    </div>
                </div>
            </div> 
            <div class="col-md-6 col-lg-3">
                <div class="service-item">
                    <div class="image"> 
                        <div class="overlay">
                            <img src="../../../assets/icons/checkup-light.svg" alt="checkup-light">
                        </div>
                        <div class="service-icon">
                            <img src="../../../assets/icons/checkup-light.svg" alt="checkup-light">
                        </div>
                        <img src="../../../assets/images/service-item.png" alt="service-item">
                        
                    </div>
                    <div class="content">
                        <p class="title">Free Checkup</p>
                        <p class="short">
                            At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
                            voluptatum deleniti atque corrupti quos
                        </p>
                        <a routerLink="#">Learn More <i class="fa fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="service-item">
                    <div class="image"> 
                        <div class="overlay">
                            <img src="../../../assets/icons/checkup-light.svg" alt="checkup-light">
                        </div>
                        <div class="service-icon">
                            <img src="../../../assets/icons/checkup-light.svg" alt="checkup-light">
                        </div>
                        <img src="../../../assets/images/service-item.png" alt="service-item">
                        
                    </div>
                    <div class="content">
                        <p class="title">Free Checkup</p>
                        <p class="short">
                            At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
                            voluptatum deleniti atque corrupti quos
                        </p>
                        <a routerLink="#">Learn More <i class="fa fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="service-item">
                    <div class="image"> 
                        <div class="overlay">
                            <img src="../../../assets/icons/checkup-light.svg" alt="checkup-light">
                        </div>
                        <div class="service-icon">
                            <img src="../../../assets/icons/checkup-light.svg" alt="checkup-light">
                        </div>
                        <img src="../../../assets/images/service-item.png" alt="service-item">
                        
                    </div>
                    <div class="content">
                        <p class="title">Free Checkup</p>
                        <p class="short">
                            At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
                            voluptatum deleniti atque corrupti quos
                        </p>
                        <a routerLink="#">Learn More <i class="fa fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="service-item">
                    <div class="image"> 
                        <div class="overlay">
                            <img src="../../../assets/icons/checkup-light.svg" alt="checkup-light">
                        </div>
                        <div class="service-icon">
                            <img src="../../../assets/icons/checkup-light.svg" alt="checkup-light">
                        </div>
                        <img src="../../../assets/images/service-item.png" alt="service-item">
                        
                    </div>
                    <div class="content">
                        <p class="title">Free Checkup</p>
                        <p class="short">
                            At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
                            voluptatum deleniti atque corrupti quos
                        </p>
                        <a routerLink="#">Learn More <i class="fa fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="service-item">
                    <div class="image"> 
                        <div class="overlay">
                            <img src="../../../assets/icons/checkup-light.svg" alt="checkup-light">
                        </div>
                        <div class="service-icon">
                            <img src="../../../assets/icons/checkup-light.svg" alt="checkup-light">
                        </div>
                        <img src="../../../assets/images/service-item.png" alt="service-item">
                        
                    </div>
                    <div class="content">
                        <p class="title">Free Checkup</p>
                        <p class="short">
                            At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
                            voluptatum deleniti atque corrupti quos
                        </p>
                        <a routerLink="#">Learn More <i class="fa fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="service-item">
                    <div class="image"> 
                        <div class="overlay">
                            <img src="../../../assets/icons/checkup-light.svg" alt="checkup-light">
                        </div>
                        <div class="service-icon">
                            <img src="../../../assets/icons/checkup-light.svg" alt="checkup-light">
                        </div>
                        <img src="../../../assets/images/service-item.png" alt="service-item">
                        
                    </div>
                    <div class="content">
                        <p class="title">Free Checkup</p>
                        <p class="short">
                            At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
                            voluptatum deleniti atque corrupti quos
                        </p>
                        <a routerLink="#">Learn More <i class="fa fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="service-item">
                    <div class="image"> 
                        <div class="overlay">
                            <img src="../../../assets/icons/checkup-light.svg" alt="checkup-light">
                        </div>
                        <div class="service-icon">
                            <img src="../../../assets/icons/checkup-light.svg" alt="checkup-light">
                        </div>
                        <img src="../../../assets/images/service-item.png" alt="service-item">
                        
                    </div>
                    <div class="content">
                        <p class="title">Free Checkup</p>
                        <p class="short">
                            At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
                            voluptatum deleniti atque corrupti quos
                        </p>
                        <a routerLink="#">Learn More <i class="fa fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<contact-overview></contact-overview>