
<section class="company">
    <div class="hero">
        <div class="oval-overlay"></div>
        <div class="hero-text">
            <div class="container">
                <p class="caring">CARING FOR LIFE</p>
                <p class="leading">Leading the Way <br> in Medical Excellence</p>
                <a class="regular-btn" routerLink="/services">Our Services</a>
            </div>
        </div>
        <img src="../assets/images/Physician_Trends.png" alt="">
    </div>
</section>

<section class="medical-intro">
    <div class="container">
        <div class="medics-info">
            <h2>WELCOME TO MEDICAL</h2>
            <h3>A Great Place to Receive Care</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore
                magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                fugiat
                nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                mollit
                anim id est laborum.
            </p>
            <a class="learn-more" href="javascript:void(0);">Learn More <i class="fa fa-arrow-right"></i></a>
        </div>
    </div>
</section>

<section class="medical-intro backdoctors">
    <div class="container" style="background-image: url('../assets/images/Blackdoctors.png');">
    </div>
</section>

<section class="medical-intro services-sb">
    <div class="container">
        <div class="medics-info">
            <h2>CARE YOU CAN BELIEVE IN</h2>
            <h3>Our Services</h3>
        </div>
        <div class="believe-cares">
            <div class="care-info">
                <div class="row cares">
                    <div class="col-sm-6 col-md-12">
                        <img src="../assets/icons/checkup.svg" alt="checkup">
                        <p>Free Checkup</p>
                    </div>
                    <div class="active col-sm-6 col-md-12">
                        <img src="../assets/icons/cadiogram.svg" alt="cadiogram">
                        <p>Cardiogram</p>
                    </div>
                    <div>
                        <img src="../assets/icons/dna-testing.svg" alt="dna-testing">
                        <p>DNA Testing</p>
                    </div>
                    <div>
                        <img src="../assets/icons/blood-bank.svg" alt="blood-bankd">
                        <p>Blood Bank</p>
                    </div>
                    <div class="active">
                        View All
                    </div>
                </div>
            </div>
            <div class="care-info passions">
                <h4>A passion for putting patients first</h4>
                <div class="pass-container">
                    <ul class="passions">
                        <li><span>&#x2022;</span>A passion for heaing</li>
                        <li><span>&#x2022;</span>All our best</li>
                        <li><span>&#x2022;</span>A legacy of excellence</li>
                    </ul>
                    <ul class="passions">
                        <li><span>&#x2022;</span>A passion for heaing</li>
                        <li><span>&#x2022;</span>All our best</li>
                        <li><span>&#x2022;</span>A legacy of excellence</li>
                    </ul>
                </div>
                <p>
                    But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was
                    born and I will give you a complete account of the system, and expound the actual teachings of the
                    great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or
                    avoids pleasure itself, because it is pleasure, At vero eos et accusamus et iusto odio dignissimos
                    ducimus qui blanditiis praesentium
                </p>
                <p>
                    pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone who
                    loves or pursues or desires to obtain pain of "de Finibus Bonorum et Malorum", written by Cicero in
                    45 BC
                </p>
            </div>
            <div class="care-info doctors">
                <div class="doctor-in-action">
                    <img src="../assets/images/blood-check.png" alt="blood-check">
                    <img src="../assets/images/female-doctors.png" alt="female-doctors">
                </div>
            </div>

        </div>
    </div>
</section>

<section class="medical-intro our-specialties">
    <div class="container">
        <div class="medics-info">
            <h2>ALWAYS CARING</h2>
            <h3>Our Specialties</h3>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-6 specialties">
                <img src="../assets/icons/broken-heart.svg" alt="">
                <p>Neurology</p>
            </div>
            <div class="col-md-3 col-sm-6 specialties active">
                <img src="../assets/icons/broken-heart.svg" alt="">
                <p>Bones</p>
            </div>
            <div class="col-md-3 col-sm-6 specialties">
                <img src="../assets/icons/broken-heart.svg" alt="">
                <p>Oncology</p>
            </div>
            <div class="col-md-3 col-sm-6 specialties">
                <img src="../assets/icons/broken-heart.svg" alt="">
                <p>Ortohinolaryngology</p>
            </div>
            <div class="col-md-3 col-sm-6 specialties">
                <img src="../assets/icons/broken-heart.svg" alt="">
                <p>Ophtalmology</p>
            </div>
            <div class="col-md-3 col-sm-6 specialties">
                <img src="../assets/icons/broken-heart.svg" alt="">
                <p>Cardiovascular</p>
            </div>
            <div class="col-md-3 col-sm-6 specialties">
                <img src="../assets/icons/broken-heart.svg" alt="">
                <p>Pulmonology</p>
            </div>
            <div class="col-md-3 col-sm-6 specialties">
                <img src="../assets/icons/broken-heart.svg" alt="">
                <p>Renal Medicine</p>
            </div>
            <div class="col-md-3 col-sm-6 specialties">
                <img src="../assets/icons/broken-heart.svg" alt="">
                <p>Gastroenterology</p>
            </div>
            <div class="col-md-3 col-sm-6 specialties">
                <img src="../assets/icons/broken-heart.svg" alt="">
                <p>Urology</p>
            </div>
            <div class="col-md-3 col-sm-6 specialties">
                <img src="../assets/icons/broken-heart.svg" alt="">
                <p>Demartology</p>
            </div>
            <div class="col-md-3 col-sm-6 specialties">
                <img src="../assets/icons/broken-heart.svg" alt="">
                <p>Gynaecology</p>
            </div>
        </div>
    </div>
</section>

<section class="in-back" style="background-image: url('../assets/images/doctor-laptop.png');">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-6 book-appointment">
                <h3>Book an Appointment</h3>
                <p>
                    At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum
                    deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non
                    provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum
                    fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis
                    est eligendi optio cumque 
                </p>
            </div>
            <div class="col-md-6 booking-container">
                <form action="">
                    <div class="row">
                        <div class="col-md-6 l-input">
                            <input type="text" placeholder="Name">
                        </div>
                        <div class="col-md-6 r-input">
                            <select name="" id="">
                                <option slected disabled>Gender</option>
                                <option value="Male">Male</option>
                                <option value="Female">Female</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 l-input">
                            <input type="email" placeholder="Email">
                        </div>
                        <div class="col-md-6 r-input">
                            <input type="text" placeholder="Phone">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 l-input">
                            <select>
                                <option slected disabled>Date</option>
                                <option value="Male">Male</option>
                                <option value="Female">Female</option>
                            </select>
                        </div>
                        <div class="col-md-6 r-input">
                            <select>
                                <option slected disabled>Time</option>
                                <option value="Male">Male</option>
                                <option value="Female">Female</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 l-input">
                            <select>
                                <option slected disabled>Doctor</option>
                                <option value="Male">Male</option>
                                <option value="Female">Female</option>
                            </select>
                        </div>
                        <div class="col-md-6 r-input">
                            <select>
                                <option slected disabled>Department</option>
                                <option value="Male">Gynaecology</option>
                                <option value="Female">Urology</option>
                                <option value="Female">Demartology</option>
                                <option value="Female">Virology</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <textarea placeholder="Message" rows="8"></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 submit">
                            <button class="">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<care-doctors></care-doctors>

<news-overview></news-overview>

<contact-overview></contact-overview>
