<section class="page-banner" style="background-image: url('../../../assets/images/doctor-banner.png');">
    <div class="overlay"></div>
    <div class="container">
        <ul>
            <li><a routerLink="">Home</a></li>/ <li><a routerLink="/appointment">Appointment</a></li>
        </ul>
        <h1>Book an Appointment</h1>
    </div>
</section>

<section class="medical-intro services-sp">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-6 lc">
                <div class="contact-info">
                    <h3>Book an Appointment</h3>
                    <p>
                        At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum
                        deleniti atque corrupti quos olores et quas molestias excepturi sint occaecati cupiditate non
                        provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et
                        dolorum
                        fuga. Et harum quidem rerum facilis est et expedita distinctio. 
                    </p>
                </div>
                <div class="booking-container">
                    <form action="">
                        <div class="row">
                            <div class="col-md-6 l-input">
                                <input type="text" placeholder="Name">
                            </div>
                            <div class="col-md-6 r-input">
                                <select name="" id="">
                                    <option slected disabled>Gender</option>
                                    <option value="Male">Male</option>
                                    <option value="Female">Female</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 l-input">
                                <input type="email" placeholder="Email">
                            </div>
                            <div class="col-md-6 r-input">
                                <input type="text" placeholder="Phone">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 l-input">
                                <select>
                                    <option slected disabled>Date</option>
                                    <option value="Male">Male</option>
                                    <option value="Female">Female</option>
                                </select>
                            </div>
                            <div class="col-md-6 r-input">
                                <select>
                                    <option slected disabled>Time</option>
                                    <option value="Male">Male</option>
                                    <option value="Female">Female</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 l-input">
                                <select>
                                    <option slected disabled>Doctor</option>
                                    <option value="Male">Male</option>
                                    <option value="Female">Female</option>
                                </select>
                            </div>
                            <div class="col-md-6 r-input">
                                <select>
                                    <option slected disabled>Department</option>
                                    <option value="Male">Gynaecology</option>
                                    <option value="Female">Urology</option>
                                    <option value="Female">Demartology</option>
                                    <option value="Female">Virology</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <textarea placeholder="Message" rows="8"></textarea>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 submit">
                                <button class="">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6">
                <div class="schedules">
                    <h2>Schedule hours</h2>
                    <div class="timeline">
                        <p>Monday</p>
                        <p class="line"></p>
                        <p>08:00 - 19:00</p>
                    </div>
                    <div class="timeline">
                        <p>Tuesday</p>
                        <p class="line"></p>
                        <p>08:00 - 19:00</p>
                    </div>
                    <div class="timeline">
                        <p>Wednesday</p>
                        <p class="line"></p>
                        <p>08:00 - 19:00</p>
                    </div>
                    <div class="timeline">
                        <p>Thursday</p>
                        <p class="line"></p>
                        <p>08:00 - 19:00</p>
                    </div>
                    <div class="timeline">
                        <p>Friday</p>
                        <p class="line"></p>
                        <p>08:00 - 19:00</p>
                    </div>
                    <div class="timeline">
                        <p>Saturday</p>
                        <p class="line"></p>
                        <p>08:00 - 19:00</p>
                    </div>
                    <div class="timeline">
                        <p>Sunday</p>
                        <p class="line"></p>
                        <p>08:00 - 19:00</p>
                    </div>
                    <p class="bottom-line"></p>
                    <div class="call-line">
                        <div class="blocks">
                            <img src="../../../assets/icons/phone-ring-light.svg" alt="phone-ringing">
                        </div>
                        <div class="blocks">
                            <p>EMERGENCY</p>
                            <p>(+234)810 123 4567</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="maps medical-intro services-sp">
    <div class="container">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d63037.343405412656!2d7.446202854464096!3d9.078886250195973!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x104e0a50b73e1be1%3A0x7ed3ba71b9b043c3!2sWuse%2C%20Federal%20Capital%20Territory!5e0!3m2!1sen!2sng!4v1718630733447!5m2!1sen!2sng"
            width="1140" height="500" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</section>

<news-overview></news-overview>