<div class="recent-posts">
    <div class="search">
        <input type="text" placeholder="Search">
        <span><i class="fa fa-search"></i></span>
    </div>

    <div class="recent-container">
        <h3>Recent Posts</h3>
        <div class="post-overview">
            <div class="block">
                <img src="../../../assets/images/recent-posts/post-1.png" alt="">
            </div>
            <div class="block content">
                <p class="date">Monday 17, June 2024</p>
                <p class="title">This article title goes here, but not too long, but not too long</p>
            </div>
        </div>
        <div class="post-overview">
            <div class="block">
                <img src="../../../assets/images/recent-posts/post-2.png" alt="">
            </div>
            <div class="block content">
                <p class="date">Monday 17, June 2024</p>
                <p class="title">This article title goes here, but not too long, but not too long</p>
            </div>
        </div>
        <div class="post-overview">
            <div class="block">
                <img src="../../../assets/images/recent-posts/post-3.png" alt="">
            </div>
            <div class="block content">
                <p class="date">Monday 17, June 2024</p>
                <p class="title">This article title goes here, but not too long, but not too long</p>
            </div>
        </div>
        <div class="post-overview">
            <div class="block">
                <img src="../../../assets/images/recent-posts/post-4.png" alt="">
            </div>
            <div class="block content">
                <p class="date">Monday 17, June 2024</p>
                <p class="title">This article title goes here, but not too long, but not too long</p>
            </div>
        </div>
        <div class="post-overview">
            <div class="block">
                <img src="../../../assets/images/recent-posts/post-5.png" alt="">
            </div>
            <div class="block content">
                <p class="date">Monday 17, June 2024</p>
                <p class="title">This article title goes here, but not too long, but not too long</p>
            </div>
        </div>
    </div>
</div>